/* navbar */
a {
    text-decoration: none;
}


.comment {
    padding: 10px;
    margin: 10px;
    width: 60%;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.comment-avatar {
    width: 50px;
}

.comment-text {
    flex-grow: 1;
    padding: 10px;
}


#comments-container {
    display: none;
    /* Initially hide the comments */
}