{% extends "blog/base.html" %}  {% load static %} 

{% block extracss %}

  <link rel="stylesheet" type="text/css" href="{% static 'blog/css/profile.css' %}"/>

{% endblock extracss %}

{% block content %}

<div class="user-info">
  <p class="p1 m-5">
    <strong><em>USER DETAILS</em></strong>
  </p>
  <!--  Inner div  -->
  <div class="row prof prof-container container">
    

    <!--  Column 1  -->
    <div class="col-md-8 profile-info">
      <div class="prof-img">
        <div class="profile-image">
          <img class="me-3 rounded" src="{{user_profile.profile_picture.url}} "alt="Profl"/>
        </div>
        <div class="edit-profile btn btn-info m-5">
          <a href="{% url 'edit_profile' user.username %} "> Edit Profile</a>
        </div>
      </div>
      

      <div class="ms-5 details">
        <div class="name">
          <p>
            <strong>Name: </strong> {{ user_profile.user.first_name}}
            {{user_profile.user.last_name}}
          </p>
        </div>
        <div class="uname">
          <p><strong>Username:</strong> {{user_profile.user.username}}</p>
        </div>
        <div class="bio">
          <p><strong>User Bio:</strong> {{user_profile.bio}}</p>
        </div>
      </div>
      
    </div>
    <!-- End of Column 1 -->

    <!-- Column 2 -->
    <div class="col-md-4 member ms-3">
      <h2 class="history m-5 text-start"><strong>User History</strong></h2>

      <div class="member-p">
        <p>You have been our Member since {{user_profile.created_on}}</p>
      </div>
      <div class="update">
        <p>
          You last updated your Profile details on {{user_profile.updated_on}}
        </p>
      </div>
    </div>
    <!-- End of Column 2 -->
  </div>
  <!--  End of Inner div  -->
</div>
{% endblock content %}
