{% extends "blog/base.html" %} {% block content %}
<div class="card mx-auto">
  <div class="card-header">
    <h2>Edit Your Profile</h2>
  </div>
  <div class="card-body">
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}

      <!-- Display First Name Field -->
      <div class="form-group">
        <p>First Name: {{ user.first_name }}</p>
      </div>

      <!-- Display Last Name Field -->
      <div class="form-group">
        <p>Last Name: {{ user.last_name }}</p>
      </div>

      {{ form.as_p }}

      <button type="submit" class="btn btn-primary m-3">Save Changes</button>
      <span class="btn btn-primary m-3"> Cancel</span>
    </form>
  </div>
</div>
{% endblock %}
