html, body {
    height: 100%;
    margin: 0;
    font-size: large;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}
 /* message div */
 .message-div {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
}

/* Hide message div by default */
.hidden {
    display: none;
}
footer{
    min-width: 400px;
}