/* Home Page CSS */
.container {
    margin: 0 auto;
    padding-right: 0;
}

h3 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col-md-3 {
    width: calc(33.333% - 1rem);
    margin-right: 1rem;
    margin-bottom: 2rem;
}

.card {
    border: 1px solid #ccc;
    border-radius: 0.5rem;
}

.card-img-top {
    max-width: 100%;
    height: auto;
}

.image-container {
    width: 100%;
    min-height: 300px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #f0f0f0;
    border-radius: 0.25rem;

}

.image-container img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
}

.card-body {
    padding: .3rem;
    width: 100%;
    height: 350px;
    overflow: hidden;

}

.card-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.card-text {
    height: 150px;
    overflow: auto;
    font-size: 1rem;
    margin-bottom: 1rem;
}

p {
    font-size: 1rem;
}

.btn-primary {
    font-size: 1rem;
    background-color: #007bff;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    text-decoration: none;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.step-links {
    font-size: 1rem;
}

/* END of Home Page CSS */