/* profile information page */

.profile-image {
    max-width: 12rem;
    height: 12rem; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #f0f0f0; 
    border-radius: 40%;

}

.profile-image img {
    max-height: 100%;
    object-fit: cover;
}

.prof{
    display: flex;
}

/* profile card */
.prof {
    display: flex;
    margin: 0 auto;
}

/* user details */
.profile-info {
    width: 60%;
    margin: 0 auto;
    display: flex;
    border-radius: 1rem;
    padding: 1rem 0 1rem 1rem;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

/* user details card */
.details {
    width: 70%;
    padding: 2rem .5rem;
}

/* heading */
.p1 {
    text-align: center;
    font-size: xx-large;
    border-bottom: thin black solid;
    border-width: auto;
}
.history{
    text-align: center;
    font-size: xx-large;
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    
}

/* user details paragraphs */
.details p {
    font-size: x-large;
}

/* edit profile button  */
.edit-profile a {
    color: white;
    text-decoration: none;
}
.member{
    font-size: larger;
}
.member p{
    background-color: aliceblue;
    padding: 1rem 2rem;
    border-radius: .8rem;

}