{% extends 'blog/base.html' %} {% load static %} 

{% block extracss %}

<link rel="stylesheet" href="{% static 'blog/css/new_recipe.css' %}" />

{% endblock extracss %}

<!-- Recipe creation form-->
{% block content %}
<div class="card create-recipe-card">
  <div class="card-body create-card">
    <h2 class="card-title">Create a New Recipe</h2>
    <form method="post" enctype="multipart/form-data" class="create-recipe-form">
      {% csrf_token %} {{ form.as_p }}
      <button type="submit" class="btn btn-primary">Create Recipe</button>
    </form>
  </div>
</div>

{% endblock %}
