{% extends 'blog/base.html' %}
{% load static %}

{% block extracss %}

<link rel="stylesheet" href="{% static 'blog/css/new_recipe.css' %}" />

{% endblock extracss %}

<!-- Edit recipe similar to Create Recipe -->
{% block content %}

<div class="col card create-recipe-card">
  <div class="card-body create-card">
    <h2 class="card-title">Update {{ recipe.title}}</h2>
    <form method="post" enctype="multipart/form-data" class="create-recipe-form">
      {% csrf_token %} 
      {{ form.as_p }}
      <button type="submit" class="btn btn-primary mx-auto col-6 no-wrap">Update</button>
    </form>
  </div>
</div>
{% endblock %}
