{% extends "blog/base.html" %} {% load static %} {% block extracss %}

<link rel="stylesheet" href="{% static 'blog/css/home.css' %}" />

{% endblock extracss %} {% block content %}
<!-- jjj -->
{% load recipe_filters %}

<div class="container">
  <!-- Blog Entries Column -->
  <div class="row">
    <h3>My blog</h3>
    <!-- for loop to display recipe details -->
    {% for recipe in current_page %}
    <div class="col-md-3 mb-4">
      <div class="card">
        <div class="image-container">
          <a href="{% url 'recipe_detail' recipe.slug %}">
            <img
              src="{{ recipe.featured_image.url }}"
              class="card-img-top"
              alt="{{ recipe.title }}"
            />
          </a>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{recipe.title}}</h5>
          <p class="card-text">
            {{ recipe.ingredients|truncate_text:20|safe }}
          </p>
          <p>Authored By: {{ recipe.author.username}}</p>
          <p>Created On: {{ recipe.created_on}}</p>
          <a
            href="{% url 'recipe_detail' recipe.slug %}"
            class="btn btn-primary"
            >View More Details</a
          >
        </div>
      </div>
    </div>
    <!-- check if column items are divisible by 3 -->
    {% if forloop.counter|divisibleby:"3" %}
    <div class="row"></div>
    {% endif %} {% endfor %}
    <!-- end of recipe details -->
  </div>
  <!-- pagination -->
  <div class="pagination">
    <span class="step-links">
      {% if current_page.has_previous %}
      <a href="?page=1">&laquo; first</a>
      <a href="?page={{ current_page.previous_page_number }}">previous</a>
      {% endif %}
      <span class="current-page">
        Page {{ current_page.number }} of {{ current_page.paginator.num_pages}}.
      </span>
      {% if current_page.has_next %}
      <a href="?page={{ current_page.next_page_number }}">next</a>
      <a href="?page={{ current_page.paginator.num_pages }}">last &raquo;</a>
      {% endif %}
    </span>
  </div>
</div>

{%endblock%}
