<!-- recipe/recipe_detail.html -->
<title>Recipe Details</title>

{% extends "blog/base.html" %}
<!-- njnm -->
{% load static %}
<!-- njnm -->
{% load cloudinary %}
<!-- nknkk -->
{% load humanize %}
<!-- nnmmm -->

{% block content %}
<div class="container-fluid background-image">
  <div class="row recipe_details">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body m-5 border">
          <h1 class="text-center">{{ recipe.title }}</h1>
          <p>Authered By: {{ recipe.author.username }}</p>

          <img
            src="{{ recipe.featured_image.url }}"
            class="card-img-top"
            alt="{{ recipe.title }}"
          />

          <!-- Display comments -->
          <h3>Comments</h3>
          <div id="show-comments" class="show-comments">
            <a href="#" id="toggle-comments">Show Comments</a>
          </div>

          <div id="comments-container" class="comments">
            {% for comment in comments %}
            <div
              class="comment{% if comment.status == 'pending' %} pending{% elif comment.status == 'rejected' %} rejected{% endif %}"
            >
              <p>
                <img
                  style="height: 2rem; border-radius: 0.8rem"
                  src="{{ comment.user.profile.profile_picture.url}}"
                  class="comment-avatar"
                  alt="User Avatar"
                />
                {{ comment.user.username }}
              </p>

              <p>{{ comment.text }}</p>
              {% comment %}
              <h5 style="font-size: medium">About:</h5>
              {% endcomment %} {% comment %}
              <h6 style="font-size: small">{{ comment.created_on }}</h6>
              {% endcomment %}
            </div>
            {% endfor %}
          </div>

          <div class="user-actions">
            <!-- Comment form -->
            <form method="post" action="">
              {% csrf_token %}
              <div class="form-group">
                <label for="comment_text">Your Comment</label>
                <textarea
                  class="form-control"
                  name="comment_text"
                  id="comment_text"
                ></textarea>
              </div>
              <button type="submit" class="btn btn-primary mt-3">
                Comment
              </button>
            </form>

            <!-- Like button -->
            <div>{{ recipe.total_likes }} Likes</div>
            <div class="actions">
              <form method="post" action="{% url 'like_recipe' recipe.slug %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">Like</button>
              </form>
            </div>
          </div>
          {% if owner %}
          <div>
            <a
              href="{% url 'edit_recipe' recipe.slug %}"
              class="btn btn-primary"
              >Edit</a
            >
            <a
              href="{% url 'delete_recipe' recipe.slug %}"
              class="btn btn-primary"
              >Delete</a
            >
          </div>
          {% endif %}
        </div>

        {% comment %} Toggle Comments Script {% endcomment %}
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
          // jQuery script to toggle the display of comments
          $(document).ready(function () {
            $("#toggle-comments").click(function () {
              $("#comments-container").toggle();
            });
          });
        </script>
      </div>
    </div>

    <!-- Right Cards Container -->
    <div class="col-md-8">
      <div class="scrollable-container">
        <!-- Card 2 -->
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">Content</h5>
            <p class="card-text">{{recipe.content}}</p>
          </div>
        </div>

        <!-- Card 3 -->
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Context</h5>
            <p class="card-text">{{recipe.content}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- row -->
</div>
{% endblock %}
