{% extends "blog/base.html" %}  {% load static %} 

{% block extracss %}

  <link rel="stylesheet" type="text/css" href="{% static 'blog/css/profile.css' %}"/>

{% endblock extracss %}

{% block content %}

<div class="user-info">
  <p class="p1 m-5">
    <strong><em>USER DETAILS</em></strong>
  </p>
  <!--  Inner div  -->
  <div class="row prof prof-container container">
    

    <!--  Column 1  -->
    <div class="col-12 col-sm-12 col-md-8 col-lg-8 center-align  profile-info">
      
      <div class="row details-row">

        <div class="prof-img col col-6 col-sm-6 col-md-6 col-lg-6">
          <div class="profile-image">
            <img class="center-align m-auto" src="{{user_profile.profile_picture.url}} "alt="Profl"/>
          </div>
          <div class="edit-profile btn btn-info m-3">
            <a href="{% url 'edit_profile' user.username %} "> Edit Profile</a>
          </div>
        </div>
        
  
        <div class="col col-6 col-sm-6 col-md-4 col-lg-4 ms-3 details">
          
          <div class="name">
            <p>
              <strong>Name: </strong> {{ user_profile.user.first_name}}
              {{user_profile.user.last_name}}
            </p>
          </div>
          <div class="uname">
            <p><strong>Username:</strong> {{user_profile.user.username}}</p>
          </div>
          <div class="bio">
            <p><strong>User Bio:</strong> {{user_profile.bio}}</p>
          </div>
        </div>
      </div>
      
    </div>
    <!-- End of Column 1 -->

    <!-- Column 2 -->
    <div class="col-12 col-sm-12 col-md-4 col-lg-4 member ms-2">
      <h2 class="history m-5 text-start"><strong>User History</strong></h2>

      <div class="member-p">
        <p>You have been our Member since {{user_profile.created_on}}</p>
      </div>
      <div class="update">
        <p>
          You last updated your Profile details on {{user_profile.updated_on}}
        </p>
      </div>
    </div>
    <!-- End of Column 2 -->
  </div>
  <!--  End of Inner div  -->
</div>
{% endblock content %}
