
{% extends "blog/base.html" %} {% load static %} {% load recipe_filters %}

{% block content %} 

<div class="container">
  <div class="col prof-update mx-auto">
      <div class="card card-header">
          <h2>Edit Your Profile</h2>
      </div>
      <div class="card-body">
          <form method="post" enctype="multipart/form-data">
              {% csrf_token %}

              <div class="row">
                  <!-- Profile Picture Field -->
                  <div class="mb-3 col-md-4 profile-pic">
                      <label for="id_profile_picture" class="form-label">Profile Picture</label>
                      <img src="{{ profile_pic }}" alt="Current Profile Picture" class="img-fluid rounded-circle">
                      <div class="change mt-2">
                          <input type="file" name="profile_picture" id="id_profile_picture">
                      </div>
                  </div>

                  <!-- Bio Field -->
                  <div class="mb-3 col-md-8">
                      <label for="id_bio" class="form-label">Bio</label>
                      {{ form.bio }}
                  </div>
              </div>

              <!-- First Name and Last Name Fields -->
              <div class="row">
                  <div class="mb-3 col-md-6">
                      <label for="id_first_name" class="form-label">First Name</label>
                      {{ form.first_name }}
                  </div>
                  <div class="mb-3 col-md-6">
                      <label for="id_last_name" class="form-label">Last Name</label>
                      {{ form.last_name }}
                  </div>
              </div>

              <div class="btn-group d-flex">
                  <button type="submit" class="btn btn-primary m-3">Save Changes</button>
                  <a href="#" class="btn btn-primary m-3">Cancel</a>
              </div>
          </form>
      </div>
  </div>
</div>
  
{% endblock %}
