/* accounts css for registration and log in */
html, body {
  height: 100%;
  margin: 0;
  font-size: large;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

/* Style Registration and Login Forms */

.login-card {
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(168, 168, 186);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: black;
}

.form-group {
  margin-bottom: 20px;
  margin-right: 1rem;
}
.form-row{
  display: flex;
  flex-wrap: wrap;
}